<!--integrate routes with views 
setup boiler plate html for every page in our application
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!--inside the body we put all code that goes inside of out application before and after every single page-->
    Before
    <br><!--add linebreak to add space between lines-->
    <!--put in the content of everything inside our application-->
    <%- body %>  <!--this will include every single other one of our pages write in here in this body page-->
    <!--next create view for index of our application-->
    <br>
    After
</body>
</html>